<div class="background">
  <div class="heading-1">
    <div class="tree-health">TreeHealth</div>
  </div>
  <div class="nav">
    <div class="background-vertical-border">
      <div class="container">
        <div class="div">📊</div>
      </div>
      <div class="container">
        <div class="dashboard">Dashboard</div>
      </div>
    </div>
    <div class="container2">
      <div class="container">
        <div class="map-view">🗺️ Map View</div>
      </div>
      <div class="container">
        <div class="div">️</div>
      </div>
    </div>
    <div class="container2">
      <div class="container">
        <div class="div">🚨</div>
      </div>
      <div class="container">
        <div class="inventory">Inventory</div>
      </div>
    </div>
    <div class="container2">
      <div class="container">
        <div class="div">📈</div>
      </div>
      <div class="container">
        <div class="predictions">Predictions</div>
      </div>
    </div>
    <div class="container2">
      <img class="file-plus" src="/static/Images/documents.png" alt="Documents icon"/>
      <div class="container">
        <div class="documents">Documents</div>
      </div>
    </div>
    <div class="container2">
      <div class="container">
        <div class="div2">⚙️</div>
      </div>
      <div class="container">
        <div class="settings">Settings</div>
      </div>
    </div>
  </div>
</div>