<html lang="en">
    <head title="DocTracker">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="navigation">
            <h1 style="color: white;">TreeHealth<br />TEMP OBJECT</h1>
        </div>
        <div class="topbar">
            <h1 style="color:rgba(33, 33, 33, 1); width: 50px; margin-left: 15px;">Document Tracker</h1>
            <p style="color: rgba(33, 33, 33, 1); margin-left: 15px;">Manage and track all the documents and permits for your trees</p>
            <hr style="color: rgba(45, 80, 80, 0.330); margin-top: 10px; margin-left: 15px;">
            <p>
                <button type="NewFolder" class="trackerButton">New Folder</button>
                <input type="text" placeholder="TEMP TEXT Search" style="position: relative; padding: 10px; border-radius: 20px; width: 80%">
            </p>
        </div>
        <div class="inventory">
            <button type="UploadFile" class="addButton"><b>Add File</b><br />TEMP TEXT</button>
            <div class="folderItem">
                <div class="itemHighlight">
                    <h2 style="color:rgba(33, 33, 33, 1); line-height: 1; margin: 25px">East End Documents</h2>
                    <p style="color:rgba(33, 33, 33, 1); line-height: 1; margin: 25px;">2 Items</p>
                </div>
                <button type="OpenItem" class="trackerButton">Open</button>
            </div>
        </div>
        
    </body>
</html>