.navigation {
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: rgba(74, 124, 126, 1);
    padding: 15px;
    top: 0;
    left: 0;
    font-family: Inter, sans-serif;
}
.topbar {
    position: fixed;
    width: 85%;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    top: 0;
    right: 0;
    box-shadow: -1px 2px 10px 2px rgba(45, 80, 80, 0.330);
    line-height: 1;
    font-family: Inter, sans-serif;
}
.trackerButton {
    position: relative;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.inventory {
    margin-left: 13%;
    margin-top: 270px;
    display: flex;
    flex-wrap: wrap;
}

.folderItem {
    height: 260px;
    width: 300px;
    box-shadow: -1px 2px 10px 2px rgba(45, 80, 80, 0.330);
    font-family: Inter, sans-serif;
    border-radius: 15px;
    border: 0;
    margin-bottom: 25px;
    margin-right: 25px;
    background-color: rgb(60, 100, 102);
    position: relative;
}

.addButton {
    height: 260px;
    width: 300px;
    box-shadow: -1px 2px 10px 2px rgba(45, 80, 80, 0.330);
    background-color: rgba(255, 255, 255, 1);
    font-family: Inter, sans-serif;
    font-size: large;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    border: 0;
    transition-duration: 0.4s;
    margin-bottom: 25px;
    margin-right: 25px;
}
.addButton:hover {
    background-color: rgba(200, 200, 200, 1);
}

.itemHighlight {
    height: 70%;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}